.menu {
    list-style-type: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.menu li {
    flex: 1;
    margin: 0;
    font-weight: 450;
}

.menu li a {
    text-decoration: none;
    transition: background-color 0.3s ease-in, border-color 0.3s ease;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(92, 92, 92, 0.5);
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    -webkit-backdrop-filter: blur(0.8rem);
    backdrop-filter: blur(0.8rem);
}

.menu li a:hover {
    background: linear-gradient(to right, #598dc7, #7fb0e1);
    color: white;
}

@media screen and (max-width: 600px) {
    .menu li a {
        width: 100%;
        font-size: 0.6rem;
        padding: 1.3rem 0;
        flex-direction: column;
    }

    .menu li a svg {
        font-size: 1rem;
        margin-bottom: 0.2rem;
    }
}

@media screen and (min-width: 601px) {
    .menu li a {
        font-size: 16px;
        padding: 28px 0;
        color: #1c4777;
        flex-direction: row;
    }

    .menu li a svg {
        margin-right: 0.3rem;
    }
}