/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header-awards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.5rem;
    background: linear-gradient(135deg, #2c3e50, #34495e);
    color: whitesmoke;
    box-shadow: 0 5px 5px rgba(86, 85, 85, 0.38);
}

.header-awards button {
    background-color: rgba(200, 227, 255, 0.37);
    border: none;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px 14px;
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: background 0.5s, transform 0.3s;
}

.icon-party {
    animation: icon-party-effect 5s infinite;
    transition: transform 0.4s ease-in-out;
}

.icon-party svg {
    color: #67ffd4;
}

@keyframes icon-party-effect {

    0%,
    50%,
    100% {
        transform: scale(1);
    }

    25%,
    75% {
        transform: scale(1.2);
    }
}

/* Modal */
.modal-awards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
}

.modal-content-awards {
    max-width: 90%;
    max-height: 80%;
    background-color: #2677f9;
    border-radius: 10px;
    animation: zoom 0.6s ease-in-out;
}

.modal-awards p,
.modal-description {
    color: whitesmoke;
    text-align: center;
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 1.5;
}

.close-awards {
    position: absolute;
    top: 20px;
    right: 15px;
    color: rgb(255, 0, 85);
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.close-awards:hover {
    color: rgb(241, 84, 255);
    transform: scale(1.2);
}

/* Awards */
.award {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 29rem;
    padding: 1rem;
    border-radius: 1rem;
    background: rgb(250, 255, 253);
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease;
    user-select: none;
}

.award:hover {
    transform: scale(1.02);
}

.award-image {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    margin: 0 auto;
}

.award-description {
    flex: 1;
    text-align: center;
    padding: 0 2rem;
}

.award-description h2 {
    color: #1e293b;
    margin: 1rem 0;
    font-size: 1.5rem;
}

.award-description p {
    color: #1e293b;
    margin: 1rem 0;
    line-height: 1.5;
}

/* Animations */
@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* Swiper */
.swiper {
    width: 100%;
    padding: 1rem 0;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Responsive */
@media screen and (max-width: 600px) {
    .header-awards h1 {
        font-size: 0.8rem;
        font-weight: normal;
    }

    .award-description h2 {
        font-size: 1.2rem;
    }

    .award-description p {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 601px) {
    .gallery {
        display: flex;
    }

    .header-awards h1 {
        font-weight: 200;
        font-size: 1.2rem;
    }
}