/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header-awards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.5rem;
    background: linear-gradient(135deg, #2c3e50, #34495e);
    color: whitesmoke;
    box-shadow: 0px 5px 5px rgba(86, 85, 85, 0.378);

}

.header-awards button {
    background-color: #007bff;
    border: none;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px 14px;
    color: white;
    border-radius: 5px;
    font-size: 2rem;
    transition: background 0.5s, transform 0.3s;
}


.icon-party {
    animation: icon-party-effect 5s infinite;
    transition: transform 0.4s ease-in-out;

}

.icon-party svg {
    color: #67ffd4;
}

@keyframes icon-party-effect {

    0%,
    50%,
    100% {
        transform: scale(1);
        background-color: #ced7e182;
    }

    25% {
        transform: scale(1.2);
        background-color: #fef28996;
    }

    75% {
        transform: scale(1.2);
        background-color: #4caf4fa5;
    }
}

.modal-awards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
}

.modal-content-awards {
    max-width: 90%;
    max-height: 80%;
    background-color: #2677f9;
    animation: zoom 0.6s ease-in-out;
    border-radius: 10px;
}

.modal-awards p {
    color: whitesmoke;
    text-align: center;
    margin-top: 1rem;
    padding: 0 1rem;
    line-height: 1.5;
}

.modal-description {
    color: whitesmoke;
    text-align: center;
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 1.5;
}

.close-awards {
    position: absolute;
    top: 20px;
    right: 15px;
    color: rgb(255, 0, 85);
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close-awards:hover {
    color: rgb(241, 84, 255);
    transform: scale(1.2);
    transition: transform 0.3s ease-out;
}


.award {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 90%;
    padding: 1rem;
    height: calc(100% - 4rem);
    height: 29rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    background: rgb(250, 255, 253);
    overflow: hidden;
    transition: transform 0.3s ease;
    user-select: none;
    -webkit-user-select: none;
}

.award:hover {
    transform: scale(1.02);
}

.award-image {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}

.award-description {
    text-align: center;
    flex: 1;
    padding: 0 2rem;
}

.award-description h2 {
    color: #1e293b;
    margin: 1rem 0;
    font-size: 1.5rem;
}

.award-description p {
    color: #1e293b;
    margin: 1rem 0;
    line-height: 1.5;
    text-align: center;
    text-justify: inter-word;
}


@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/*------------------------------------------------------------------------ MOBILE */
@media screen and (max-width: 600px) {
    .header-awards h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        font-weight: normal;
    }

    .award-description h2 {
        font-size: 1.2rem;
        margin: 1rem 0;
    }

    .award-description p {
        font-size: 0.8rem;
        display: block;
        text-overflow: ellipsis;
    }

}

/*---------------------------------------------------------------- LAPTOP */
@media screen and (min-width: 601px) {
    .gallery {
        display: flex;
    }


    .header-awards h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 200;
        font-size: 1.2rem;
    }

}

.swiper {
    width: 100%;
    padding: 20px 0;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}