.codeContainer {
  width: min(50rem, 95%);
  height: 17rem;
  margin: 20px auto;
  background-color: light-dark(#1e1e1e, #1a1b26);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 10px var(--shadow);
}

.titleBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: light-dark(#252526, #16161e);
  padding: 12px 18px;
  color: light-dark(#d4d4d4, #c0caf5);
  font-family: sans-serif;
}

.dots {
  display: flex;
  gap: 6px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.red {
  background-color: #ff5f56;
}

.yellow {
  background-color: #ffbd2e;
}

.green {
  background-color: #27c93f;
}

.fileName {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.codeEditor {
  padding: 16px;
  color: light-dark(#d4d4d4, #c0caf5);
  font-family: "Fira Code", monospace;
  font-size: 1rem;
  line-height: 1.5;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border-top: 1px solid light-dark(#333, #3b4261);
  max-height: 100%;
}

.codeEditor pre {
  margin: 0;
  padding: 0.5rem;
}

.codeEditor code {
  display: block;
  color: light-dark(#9cdcfe, #7dcfff);
}

.codeEditor .Typewriter__cursor {
  color: light-dark(#f200ff, #bb9af7);
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .codeContainer {
    height: 14rem;
  }

  .codeEditor {
    padding: 1rem 0.8rem;
    font-size: 14px;
  }
}
