.container-online-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 5rem;
  border-radius: 10px;
  width: 90%;
}

.loading-icon {
  font-size: 20px;
  animation: spin 1s linear infinite;
}

.container-online-users h1 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.container-online-users ul {
  list-style-type: none;
}

.container-online-users li {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--shadow);
}

.container-online-users li p {
  margin: 0;
  font-size: 0.9rem;
  color: var(--text-card);
}
