@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.containerSMS {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.SMS {
  --sms: light-dark(#00a1d6, #3d59a1);
  position: relative;
  width: 100%;
  max-width: 800px;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: var(--sms);
  color: #fff;
  box-shadow: 0 4px 8px var(--shadow);
}

.SMS span {
  font-family: 'Courier Prime', monospace;
  line-height: 1.7;
}

.SMS::after {
  content: '';
  position: absolute;
  top: -30px;
  right: 10%;
  transform: translateX(50%);
  border: 20px solid transparent;
  border-bottom-color: var(--sms);
}

@media screen and (max-width: 600px) {
  .SMS span {
    font-size: 1rem;
  }

  .containerSMS {
    height: 120px;
  }
}

@media screen and (min-width: 601px) {
  .SMS span {
    font-size: 1.2rem;
  }

  .containerSMS {
    height: 130px;
    margin: 1rem;
  }
}
