.speeches-container {
    width: 95%;
    margin: 0 auto;
}

.talks {
    text-align: center;
    font-size: 1.2rem;
}

.speech-card {
    width: 90%;
    height: 22rem;
    margin: 0 auto;
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    transition: transform .25s ease, box-shadow .25s ease;
    padding: 1px;
}

.speech-card:hover {

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.speech-card:active {
    border: 1px solid #17ff7485;
}

.video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background: #000;
    margin: auto 0;
    overflow: hidden;
    border-radius: 14px;
}


.video-container iframe,
.video-loading {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 0;
    top: 0;
    left: 0;
}


.video-loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-loading::before {
    content: "";
    width: 56px;
    height: 40px;
    background: #ff0000;
    border-radius: 10px;
}

.video-loading::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    transform: translateX(3px);
}

.speech-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: end;
    cursor: grab;
}

.speech-info:active {
    cursor: grabbing;
}

.speech-info h3 {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #222;
    word-break: break-word;
}

.speech-info p {
    text-align: center;
    font-size: 0.9rem;
    color: #555;
    line-height: 1.4;
    word-break: break-word;
}

.speech-info .date {
    font-size: .8rem;
    color: #888;
}