.my-swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  background: transparent;
  box-sizing: border-box;
}

.my-swiper-img-wrapper {
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 12px;
  overflow: hidden;
  display: inline-block;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.my-swiper-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  user-select: none;
}

.my-swiper-img:hover {
  border: 1px solid #fff2ff;
  cursor: grab;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.my-swiper-img:active {
  border: 1px solid #17ff74;
  cursor: grabbing;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-pagination-bullet {
  background-color: #495057;
  opacity: 0.1;
  transition: background-color 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  background-color: #212529;
  opacity: 0.1;
}

.swiper-button-prev,
.swiper-button-next {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5%;
  opacity: 0.5;
  transition: color 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #00699d;
  transform: scale(1.1);
}

.swiper-scrollbar-drag {
  background: #495057;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.swiper-scrollbar-drag:hover {
  background: #212529;
  transform: scale(1.1);
}

.swiper-image-spinner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  backdrop-filter: blur(6px) brightness(1.2);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2),
    inset 0 -10px 30px rgba(255, 255, 255, 0.1);
  background: linear-gradient(270deg, #8bc6ec, #9599e2, #fbc2eb, #a6c1ee);
  background-size: 800% 800%;
  animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.swiper-image-spinner-wrapper .spinner-icon {
  font-size: 3rem;
  color: #1c4777;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}