/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(185deg, #eef8f4, #f1e9e0);
    width: 100%;
    overflow-x: hidden;
}

/* Layout */
main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header,
footer {
    width: 100%;
    background-color: #1e293bfa;
    color: whitesmoke;
    text-align: center;
    padding: 2rem;
    box-shadow: 0px 5px 5px 0px rgba(86, 85, 85, 0.378);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 0.3rem;
    max-width: 100%;
}




.award:hover {
    transform: scale(1.02);
}



.award-description {
    padding: 1rem;
    text-align: left;
    flex: 1;
}

.award-description h2 {
    font-size: 1.5rem;
    color: #1e293b;
    margin-bottom: 1rem;
}

.award-description p {
    font-size: 1rem;
    color: #1e293b;
    line-height: 1.5;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 6.25rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 43.75rem;
}

.close {
    position: absolute;
    top: 1.875rem;
    right: 2.1875rem;
    color: #f1f1f1;
    font-size: 2.5rem;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 43.75rem;
    text-align: center;
    color: #ccc;
    padding: 0.625rem 0;
    height: 9.375rem;
}

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Responsive Design ------------------------------------------------------------------------ Mobile */
@media screen and (max-width: 1100px) {

    header {
        padding: 20px;

    }

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 200;
    }

    .social-icons {
        display: flex;
        margin: 5px;
    }

    @keyframes cool-effect {
        0% {
            transform: scale(1) rotate(0deg);
            background-color: #ced7e100;
            /* Starting background color */
        }

        25% {
            transform: scale(1.2) rotate(15deg);
            /* Scale up and rotate */
            background-color: #ffeb3b;
            /* Change background color */
        }

        50% {
            transform: scale(1) rotate(30deg);
            /* Scale back and rotate more */
            background-color: #ff5722;
            /* Change background color */
        }

        75% {
            transform: scale(1.2) rotate(45deg);
            /* Scale up and rotate further */
            background-color: #4caf50;
            /* Change background color */
        }

        100% {
            transform: scale(1) rotate(0deg);
            /* Return to original state */
            background-color: #ced7e100;
            /* Return to original background color */
        }
    }

    .social-icon {
        padding: 3px 5px;
        margin: 0;
        background-color: #ced7e100;
        border: wheat solid 0px;
        cursor: pointer;
        font-size: 20px;
        text-wrap: wrap;
        animation: cool-effect 3s infinite;
        /* Apply the animation every 3 seconds */
    }


    .social-icon:hover {
        transition: ease-in-out 0.4s;
    }




    .award {
        flex-direction: column;
    }

    .award {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        margin: 2rem 0;
        width: 90%;
        max-width: 75rem;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 1rem;
        box-shadow: 0px 1rem 2rem 0 rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition: transform 0.3s ease;
    }

    .award-image {
        width: 100%;
        object-fit: contain;
        padding: 1rem;
    }


    /* Gallery Styles */
    .gallery {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 6rem;
    }

    .menu {
        list-style-type: none;
        display: unset;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0rem 0;
        margin: 0;
        box-shadow: 0px -0.125rem 0.625rem rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .menu li {
        flex: 1;
    }

    .menu li a {
        text-decoration: none;
        width: 100%;
        font-size: 0.6rem;
        padding: 1.8rem 0;
        margin: 0;
        border-radius: 0.3rem;
        transition: background-color 0.3s ease, border-color 0.3s ease, backdrop-filter 0.3s ease;
        background: rgba(255, 255, 255, 0.501);
        color: #1c4777;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.0625rem solid #5c5c5c;
        border-bottom-left-radius: 0.1rem;
        border-bottom-right-radius: 0.1rem;
        backdrop-filter: blur(0.8rem);
        -webkit-backdrop-filter: blur(0.8rem);
    }

    .menu li a:hover {
        background: rgba(255, 255, 255, 0.6);
        border-color: #1c4777;
        transform: scale(1.0);
    }

    .award-description p {
        font-size: 1rem;
    }
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Responsive Design - Tablet and Desktop ------------------------------------------------LAPTOP */
@media screen and (min-width: 1200px) {

    header {
        padding: 1rem;
    }


    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -1rem;
        margin-bottom: 5rem;
        padding: 5rem;
    }

    .award {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(33.333% - 2rem);
        /* 3 columns with space between */
        margin-bottom: 2rem;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 1rem;
        box-shadow: 0px 1rem 2rem 0 rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition: transform 0.3s ease;
        cursor: pointer;
    }



    .award-image {
        width: 100%;
        object-fit: contain;
        padding: 1rem;
    }

    .award-description {
        padding: 2rem;
        flex-grow: 1;
    }

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 200;
    }

    main {
        padding: 0rem;
    }

    .menu {
        list-style-type: none;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    .menu li {
        margin: 0;
        font-weight: bold;
        flex-grow: 1;
    }

    .menu li a {
        text-decoration: none;
        font-size: 1rem;
        padding: 1.7rem 0;
        border-radius: 0.5rem;
        transition: background-color 0.3s ease, border-color 0.3s ease, backdrop-filter 0.3s ease;
        background: rgba(255, 255, 255, 0.575);
        color: #1c4777;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #5c5c5c;
        border-bottom-left-radius: 0.1rem;
        border-bottom-right-radius: 0.1rem;
        backdrop-filter: blur(0.8rem);
        -webkit-backdrop-filter: blur(0.8rem);
    }

    .menu li a:hover {
        background: linear-gradient(to right, #598dc7, #7fb0e1);
        color: white;
        transform: scale(1.0);
    }

    .award-description p {
        font-size: 1.2rem;
    }

    /* Styles for the social media icons */
    .social-icons {
        display: flex;
        margin: 5px;
    }

    @keyframes cool-effect {
        0% {
            transform: scale(1) rotate(0deg);
            background-color: #ced7e100;
            /* Starting background color */
        }

        25% {
            transform: scale(1.2) rotate(15deg);
            /* Scale up and rotate */
            background-color: #ffeb3b;
            /* Change background color */
        }

        50% {
            transform: scale(1) rotate(30deg);
            /* Scale back and rotate more */
            background-color: #ff5722;
            /* Change background color */
        }

        75% {
            transform: scale(1.2) rotate(45deg);
            /* Scale up and rotate further */
            background-color: #4caf50;
            /* Change background color */
        }

        100% {
            transform: scale(1) rotate(0deg);
            /* Return to original state */
            background-color: #ced7e100;
            /* Return to original background color */
        }
    }

    .social-icon {
        padding: 10px;
        margin: 0;
        border: wheat solid 0px;
        cursor: pointer;
        font-size: 35px;
        animation: cool-effect 3s infinite;
        /* Apply the animation every 3 seconds */
    }


    .social-icon:hover {
        transform: scale(1.5);
        transition: ease-in-out 0.4s;
    }

    .social-icon img {
        transition: transform 0.4s;
    }

    .social-icon img:hover {
        transform: scale(1.3);
    }
}