/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:
        linear-gradient(185deg, #eef8f4, #f1e9e0);
    width: 100%;
    overflow-x: hidden;
}


main {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Ensure content is spaced appropriately */
}


button {
    background-color: #4caf4f00;
    /* Green background */
    border: none;
    cursor: pointer;
    /* Rounded corners */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    /* Add shadow */
}

button:hover {
    background-color: #1c467700;
    /* Darker green on hover */
}



a {
    text-decoration: none;
    color: #1c4677;
    padding: 5px;
    transition: border-color 0.3s ease;
}

a:hover {
    border-color: #1c467767;
    cursor: pointer;
}


nav,
main,
footer {
    display: grid;
    place-content: center;
    text-align: center;
    width: 100%;
    flex-shrink: 0;
}



footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg, #2c3e50, #34495e);
    color: whitesmoke;
    box-shadow: inset 0px 8px 10px -10px rgba(0, 0, 0, 0.8), 0px -8px 10px -10px rgba(0, 0, 0, 0.8);
}

.menu li {
    flex: 1;
}




@keyframes icon-party-effect {
    0% {
        transform: scale(1) rotate(0deg);
        background-color: #ced7e182;
        /* Starting background color */
    }

    25% {
        transform: scale(1.2) rotate(0deg);
        /* Scale up and rotate */
        background-color: #fef28996;
        /* Change background color */
    }

    50% {
        transform: scale(1) rotate(0deg);
        /* Scale back and rotate more */
        background-color: #62f5ff92;
        /* Change background color */
    }

    75% {
        transform: scale(1.2) rotate(0deg);
        /* Scale up and rotate further */
        background-color: #4caf4fa5;
        /* Change background color */
    }

    100% {
        transform: scale(1) rotate(0deg);
        /* Return to original state */
        background-color: #ced7e100;
        /* Return to original background color */
    }
}

.icon-party {
    animation: icon-party-effect 5s infinite;
    /* Apply the animation every 3 seconds */
}

.icon-party:active {
    transform: scale(0.7);
}


.icon-party:hover {
    transform: scale(1.5);
    transition: ease-in-out 0.4s;
}


.containerSMS {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.SMS {
    background-color: #00a1d6;
    /* Messenger blue */
    color: #ffffff;
    /* White text */
    padding: 15px 20px;
    /* Padding for spacing */
    border-radius: 20px;
    /* Curved corners */
    max-width: 300px;
    /* Maximum width of the message bubble */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Subtle shadow for depth */
    position: relative;
    /* Position for the arrow */
    font-family: 'Comic Sans MS', cursive, sans-serif;
    width: 300px;
    /* Fixed width to prevent resizing */
}

/* Optional: Adding an arrow to the message bubble */
.SMS::after {
    content: '';
    position: absolute;
    bottom: 100%;
    /* Position it above the bubble */
    left: calc(50% - 10px);
    /* Center the arrow */
    transform: translateX(-50%);
    /* Centering adjustment */
    border-width: 10px;
    /* Size of the arrow */
    border-style: solid;
    border-color: transparent transparent #00a1d6 transparent;
    /* Arrow color */
}


.logo {
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
    margin-bottom: 0;
    width: 100%;
}

.blinking-cursor {
    display: inline-block;
    width: 10px;
    /* Width of the cursor */
    height: 20px;
    /* Height of the cursor */
    background-color: rgb(0, 162, 255);
    /* Color of the cursor */
    animation: blink 1s step-end infinite;
    /* Blinking animation */
}

@keyframes blink {

    0%,
    100% {
        background-color: transparent;
        /* Invisible at the start and end */
    }

    50% {
        background-color: rgb(255, 0, 204);
        /* Visible in the middle */
    }
}

/* || SMALL SCREEN --------------------------------------------------------------------------MOBILE*/
@media screen and (min-width: 320px) {

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: linear-gradient(135deg, #2c3e50, #34495e);
        color: whitesmoke;
        font-size: 15px;
        padding: 10px;
        box-shadow: 0px 5px 5px 0px rgba(86, 85, 85, 0.378);
    }

    header h1 {
        display: none;
    }

    #progress-container-new {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        /* Adjust width as needed */
        max-width: 90%;
        /* Adjust max-width as needed */
        height: 3rem;
        /* Adjust height as needed */
        background-color: #f9c0c0;
        /* Futuristic teal color */
        border-radius: 10px;
        overflow: hidden;
    }

    #progress-bar-new {
        height: 100%;
        width: 0;
        background-color: #1c4677e8;
        /* Vibrant red color */
        transition: width 0.5s ease;
        /* Smooth transition for width change */
    }

    #progress-text-new {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fdeded;
        font-weight: bold;
    }

    /* Styles for the social media icons */
    .social-icons {
        display: flex;
        margin: 2px;
    }

    .social-icon {
        margin: 5px;
    }

    .social-icon img {
        width: 40px;
        /* Adjust size as needed */
        height: 40px;
        /* Adjust size as needed */
        transition: transform 0.4s;
    }

    .social-icon img:hover {
        transform: scale(1.3);
    }

    .menu {
        list-style-type: none;
        display: unset;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0;
        box-shadow: 0px -0.125rem 0.625rem rgba(0, 0, 0, 0.1);
        z-index: 1;
    }



    .menu li a {
        text-decoration: none;
        width: 100%;
        font-size: 0.6rem;
        padding: 1.8rem 0;
        margin: 0;
        transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
        background: rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(92, 92, 92, 0.5);
        border-top-left-radius: 0.2rem;
        border-top-right-radius: 0.2rem;
        backdrop-filter: blur(0.8rem);
        -webkit-backdrop-filter: blur(0.8rem);
    }

    .menu li a:hover {
        background: linear-gradient(to right, #598dc7, #7fb0e1);
        color: white;
        transform: scale(1.0);
    }

    iframe {
        width: 100%;
        height: 82%;
        border: dashed rgba(128, 128, 128, 0.053) 0.1px;
        border-radius: 15px;
    }

    .container-travel-map {
        list-style-type: none;
        display: flex;
        width: 100%;
        height: 100vh;
    }

    .container-DJ {
        list-style-type: none;
        display: flex;
        width: 100%;
        height: 100vh;
    }



    .container-profile-pic {
        display: flex;
        place-items: center;
        justify-content: center;
        padding: 1rem;
    }

    h2 {
        display: grid;
        margin: 2rem;
        font-weight: normal;
        font-size: 22px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }


    .container-skills {
        list-style-type: none;
        margin-top: 3rem;
        display: grid;
        place-items: center;
        justify-content: center;
        margin-bottom: 5rem;
    }


    @keyframes glow {
        from {
            box-shadow: 0 0 3rem rgb(120, 249, 217);
            /* Initial shadow */
        }

        to {
            box-shadow: 0 0 3rem rgb(30, 134, 225);
            /* Glowing shadow */
        }
    }

    .profile-pic {
        transition: transform 0.3s ease-in-out;
        transform: rotate(0deg);
        /* Rotate the image by 3 degrees */
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 17rem;
        height: 17rem;
        animation: glow 1.5s infinite alternate;
        /* Glowing animation */
        border: 1.5px solid white;
        /* White border with 1 rem size */
        cursor: grab;
    }

    .profile-pic:nth-of-type(1) {
        display: none;
        transition: transform 0.3s ease-in-out;
        transform: rotate(-3deg);
        /* Rotate the image by -20 degrees */
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 7rem;
        height: 7rem;
        animation: glow 1.5s infinite alternate;
        /* Glowing animation */
    }

    .profile-pic:nth-of-type(2) {
        display: none;
        transition: transform 0.3s ease-in-out;
        transform: rotate(0deg);
        /* Rotate the image by 3 degrees */
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 17rem;
        height: 17rem;
        animation: glow 1.5s infinite alternate;
        cursor: grab;
    }

    .profile-pic:nth-of-type(3) {
        display: none;
        transition: transform 0.3s ease-in-out;
        transform: rotate(-4deg);
        /* Rotate the image by -20 degrees */
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 7.5rem;
        height: 7rem;
        animation: glow 1.5s infinite alternate;
        /* Glowing animation */
    }

    .profile-pic:nth-of-type(4) {
        display: none;
    }

    .profile-pic:nth-of-type(5) {
        display: none;
    }

    .profile-pic:nth-of-type(6) {
        transition: transform 0.3s ease-in-out;
        transform: rotate(0deg);
        /* Rotate the image by 3 degrees */
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 17rem;
        height: 17rem;
        animation: glow 1.5s infinite alternate;
        cursor: grab;
    }

    .profile-pic:hover {
        transform: rotate(0deg);
        /* Rotate the image to 0 degrees (straight) */
    }



    #typing-text {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1rem;
    }

    .hello {

        font-weight: bold;
        color: #1e293bfa;
    }

    .welcome {

        color: #1e293bfa;
    }

    .projects {

        color: #1e293bfa;
    }




    h3 {
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: inline-flex;
    }

    .column {
        margin: 1rem 2rem;
        column-count: 1;
    }

    .progress-bar {
        background-color: #f9c0c0;
        border-radius: 1rem;
        margin-bottom: 1rem;
        width: 20rem;
    }

    .progress {
        background-color: #1c4677e8;
        color: white;
        text-align: center;
        padding: 0.3rem;
        border-radius: 1rem;
        font-size: 0.7rem;
    }

    h4 {
        list-style-type: none;
        padding: 0.5rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 0.7rem;
    }

    h5 {
        list-style-type: none;
        padding: 0.5rem;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


    h6 {
        font-size: 0.8rem;
        margin: 1.2rem;


    }

    .btn {
        width: 20rem;
        font-size: 1.1rem;
        padding: 1.5rem 1.5rem;
        border-radius: 8px;
        margin: 0.1rem;
        transition: background-color 0.3s ease, border-color 0.3s ease;
        background: linear-gradient(to top, rgba(234, 234, 234, 0.7), rgba(255, 255, 255, 0.7)),
            linear-gradient(to bottom, rgba(219, 219, 219, 0.7), rgba(255, 255, 255, 0.7));
        color: #1c4777;
        display: flex;
        justify-content: flex-start;
        border: 1px solid rgba(92, 92, 92, 0.5);
        /* 5% opacity */
    }

    .btn:hover {
        background: linear-gradient(to right, #598dc7, #7fb0e1);
        color: white;
        transform: scale(1.01);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        /* Optional: Add a shadow for depth */
    }

    .container-web-projects {
        margin-top: -8rem;
        margin-bottom: 4rem;
    }




}

/* || MEDIUM */
@media screen and (min-width: 768px) {}

/* || LARGE */
@media screen and (min-width: 992px) {}

/* || XL  SCREEN ----------------------------------------------------------------------- LAPTOP */
@media screen and (min-width: 1200px) {

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: linear-gradient(135deg, #2c3e50, #34495e);
        color: whitesmoke;
        font-size: 25px;
        padding: 25px;
        box-shadow: 0px 5px 5px 0px rgba(86, 85, 85, 0.378);
    }

    header h1 {
        display: flex;
        font-size: 25px;
        font-weight: 200;
    }

    #progress-container-new {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        /* Adjust width as needed */
        max-width: 90%;
        /* Adjust max-width as needed */
        height: 3rem;
        /* Adjust height as needed */
        background-color: #f9c0c0;
        /* Futuristic teal color */
        border-radius: 10px;
        overflow: hidden;
    }

    #progress-bar-new {
        height: 100%;
        width: 0;
        background-color: #1c4677e8;
        /* Vibrant red color */
        transition: width 0.5s ease;
        /* Smooth transition for width change */
    }

    #progress-text-new {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fdeded;
        font-weight: bold;
    }

    .menu {
        list-style-type: none;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    .menu li {
        margin: 0;
        font-weight: bold;
    }

    .menu li a {
        text-decoration: none;
        font-size: 16px;
        padding: 28px 0;
        transition: background-color 0.3s ease-in, border-color 0.3s ease;
        background: rgba(255, 255, 255, 0.5);
        color: #1c4777;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(92, 92, 92, 0.5);
        border-bottom-left-radius: 0.1rem;
        border-bottom-right-radius: 0.1rem;
        backdrop-filter: blur(0.8rem);
    }

    .menu li a:hover {
        background: linear-gradient(to right, #598dc7, #7fb0e1);
        color: white;
        transform: scale(1.0);
    }


    iframe {
        width: 100%;
        height: 80%;
        border: dashed rgba(128, 128, 128, 0.059) 0.1px;
    }

    /* Styles for the social media icons */
    .social-icons {
        display: flex;
        margin-left: 15px;
    }

    .social-icon {
        margin: 5px;
    }

    .social-icon img {
        width: 30px;
        /* Adjust size as needed */
        height: 30px;
        /* Adjust size as needed */
        transition: transform 0.4s;
    }

    .social-icon img:hover {
        transform: scale(1.2);
    }

    .container-travel-map {
        list-style-type: none;
        display: flex;
        margin-top: 30px;
        width: 105%;
        height: 105vh;
    }

    .container-DJ {
        list-style-type: none;
        display: flex;
        border-radius: 15px;
        margin-top: 12px;
        margin-bottom: 20px;
        width: 105%;
        height: 105vh;
    }



    .container-skills {
        list-style-type: none;
        justify-content: center;
        display: grid;
        place-items: center;
    }



    .typing.text {
        caret-color: rgb(181, 0, 160);
    }


    @keyframes glow {
        from {
            box-shadow: 0 0 2rem rgb(249, 120, 240);
            /* Initial shadow */
        }

        to {
            box-shadow: 0 0 2rem rgb(30, 79, 225);
            /* Glowing shadow */
        }
    }

    @keyframes glow-blue {
        from {
            box-shadow: 0 0 2rem rgb(120, 249, 217);
            /* Initial shadow */
        }

        to {
            box-shadow: 0 0 2rem rgb(30, 134, 225);
            /* Glowing shadow */
        }
    }

    @keyframes glow-yell {
        from {
            box-shadow: 0 0 1rem rgb(170, 255, 137);
            /* Initial shadow */
        }

        to {
            box-shadow: 0 0 1rem rgb(30, 134, 225);
            /* Glowing shadow */
        }
    }

    @keyframes glow-pur {
        from {
            box-shadow: 0 0 1rem rgb(30, 134, 225);
            /* Glowing shadow */
        }

        to {
            box-shadow: 0 0 1rem rgb(55, 0, 90);
            /* Initial shadow */
        }

    }

    .profile-pic {
        display: grid;
        list-style-type: none;
        padding: 0.1rem;
        margin: 1rem;
        transition: transform 0.3s ease-out;
        transform: rotate(3deg);
        /* Rotate the image by -20 degrees */
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 290px;
        height: 290px;
        animation: glow 1.5s infinite alternate;
        /* Glowing animation */
        cursor: grab;
        border: 0px solid white;
        /* White border with 1 rem size */
    }

    .profile-pic:nth-of-type(1) {
        display: unset;
        transition: transform 0.3s ease-out;
        transform: rotate(-3deg);
        /* Rotate the image by -3 degrees */
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 255px;
        height: 255px;
        animation: glow-pur 1.5s infinite alternate;
        /* Glowing animation */
        cursor: grab;
    }



    .profile-pic:nth-of-type(2) {
        display: none;
        transition: transform 0.3s ease-in-out;
        transform: rotate(4deg);
        /* Rotate the image by -20 degrees */
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 245px;
        height: 245px;
        animation: glow 1.5s infinite alternate;
        /* Glowing animation */
        cursor: grab;
    }



    .profile-pic:nth-of-type(3) {
        display: none;
        transition: transform 0.3s ease-in-out;
        transform: rotate(-4deg);
        /* Rotate the image by -20 degrees */
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 255px;
        height: 245px;
        animation: glow-yell 1.5s infinite alternate;
        /* Glowing animation */
        cursor: grab;
    }

    .profile-pic:nth-of-type(4) {
        display: unset;
        transition: transform 0.3s ease-in-out;
        transform: rotate(4deg);
        /* Rotate the image by -20 degrees */
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 255px;
        height: 255px;
        animation: glow 1.5s infinite alternate;
        /* Glowing animation */
        cursor: grab;
    }

    .profile-pic:nth-of-type(5) {
        display: unset;
        list-style-type: none;
        transition: transform 0.3s ease-in-out;
        transform: rotate(-3deg);
        /* Rotate the image by -20 degrees */
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 250px;
        height: 250px;
        animation: glow-blue 1.5s infinite alternate;
        cursor: grab;
        border: 0px solid white;
        /* White border with 1 rem size edit */
    }

    .profile-pic:nth-of-type(6) {
        display: unset;
        list-style-type: none;
        transition: transform 0.3s ease-in-out;
        transform: rotate(3deg);
        /* Rotate the image by -20 degrees */
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 250px;
        height: 250px;
        animation: glow-blue 1.5s infinite alternate;
        cursor: grab;
        border: 0px solid white;
        /* White border with 1 rem size */
    }

    .profile-pic:hover {
        transform: rotate(0deg) scale(1.2);
        z-index: 100;
    }







    .btn {
        display: unset;
        width: 35rem;
        font-size: 1.2rem;
        padding: 1.5rem 5rem;
        /* Adjusted padding */
        margin: 0.1rem;
        border-radius: 0.5rem;
        transition: background-color 0.3s ease, border-color 0.3s ease;
        background: linear-gradient(to top, rgba(234, 234, 234, 0.7), rgba(255, 255, 255, 0.7)),
            linear-gradient(to bottom, rgba(219, 219, 219, 0.7), rgba(255, 255, 255, 0.7));
        color: #1c4777;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid rgba(92, 92, 92, 0.5);
        /* 5% opacity */
    }

    .btn:hover {
        background: linear-gradient(to right, #598dc7, #7fb0e1);
        color: white;
        transform: scale(1.01);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        /* Optional: Add a shadow for depth */

    }


    h2 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }



    h3 {
        font-size: 2rem;
        text-align: center;
        padding: 10rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: inline-flex;
    }

    .column {
        margin: 0 2rem;
        column-count: 2;
    }

    .progress-bar {
        background-color: #f9c0c0;
        border-radius: 1rem;
        margin-bottom: 1rem;
        width: 35rem;
    }

    .progress {
        background-color: #1c4677e8;
        color: white;
        text-align: center;
        padding: 0.3rem;
        border-radius: 1rem;
        font-size: 1.3rem;
    }

    h4 {
        padding: 0.5rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.2rem;
    }

    h5 {
        list-style-type: none;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }



    h6 {
        font-size: 2rem;
        margin: 1.2rem;


        .container-web-projects {
            display: unset;
            list-style-type: none;
            margin-top: 0rem;
            margin-bottom: 4rem;
        }


    }


    /* .menu li:first-child {
      display: block; /
    } */
}

/* || MOBILE DEVICE LANDSCAPE  */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {


    /* Reset styles for MOBILE DEVICE LANDSCAPE */
}