* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: linear-gradient(185deg, #eef8f4, #f1e9e0);
    color: #333;

}

.image-container {
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Perspective for the 3D effect */
}



.flipping-image {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: white solid 2px;
    border-radius: 10px;
    /* Hide the back face when flipped */
}

.flipping-image:hover {
    cursor: pointer;
}

/* Flipped state */
.image-flipper.flipped {
    transform: rotateY(180deg);
    /* Rotate the flipper */
}




/* Modal Styles */
#password-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black with opacity */
}

/* Modal fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
}

/* Modal scale-in animation */
@keyframes scaleIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.close:hover,
.close:focus {
    color: #333;
    transform: scale(1.2);
    /* Slightly enlarge on hover */
    text-decoration: none;
}

#password-input {
    width: 100%;
    /* Full width */
    padding: 12px;
    margin: 12px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
    font-size: 16px;
}

#submit-password {
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    font-size: 16px;
}

#submit-password:hover {
    background-color: #4566a0;
    transform: translateY(-4px);
    /* More noticeable lift on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add shadow on hover */
}

#submit-password:active {
    transform: scale(0.9);
    /* Reset lift on click */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Reduce shadow on click */
}

/* Error message styling */
#error-message {
    margin-top: 15px;
    color: #d9534f;
    font-size: 16px;
    opacity: 0;
    animation: fadeInMessage 0.3s ease-out forwards;
    /* Fade-in animation for error message */
}

/* Error message fade-in animation */
@keyframes fadeInMessage {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




.header-resume {
    background-color: #1e293b;
    color: #fff;
    padding: 10px;
    line-height: 1.6;
}

.header-resume h1,
.header-resume h2 {
    text-align: center;
}

.contact-info {
    text-align: center;
    margin-top: 10px;
}

p {
    font-size: 18px;
}



a {
    color: wheat;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px;
    transition: border-color 0.3s ease;
}

a:hover {
    border-color: wheat;
}

.container-resume {
    width: 80%;
    margin: auto;
    overflow: hidden;
    line-height: 1.6;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
}

main {
    padding: 20px 0;
}

main section {
    margin: 20px;
}

main section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

main section ul {
    list-style: none;
}

main section ul li {
    display: flex;
    flex-direction: column;
    align-items: start;
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    line-height: 1.2;
    font-size: 20px;

}

main section li:hover {
    cursor: text;
    transition: ease-in-out 0.5s;
    transform: scale(1);
}

.download-section {
    text-align: center;
    margin-bottom: 3rem;
}

.download-btn {
    display: inline-block;
    padding: 15px 40px;
    font-size: 18px;
    width: 250px;
    background-color: #1e293b;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;

}

.download-btn:hover {
    background: #ffffff;
    color: #1e293b;
    border-color: #333;
    animation: ease-in-out;

}

.download-btn2 {
    display: inline-block;
    padding: 15px 40px;
    font-size: 18px;
    width: 250px;
    background-color: #1e293b;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;

}

.download-btn2:hover {
    background: #ffffff;
    color: #1e293b;
    border-color: #333;
    animation: ease-in-out;

}

footer {
    background-color: #1e293b;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
}

/* Updated Main container styling */


.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Front and back styling */
.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    border: #ffffff solid 2px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.front img,
.back img {
    width: 100%;
    height: 100%;
}

.back {
    transform: rotateY(180deg);
}

/* Flip the card when the 'flipped' class is added */
.flipped {
    transform: rotateY(180deg);
}

.business-card .front {
    filter: blur(2.5px);
    /* Add subtle blur to the front */
    transition: filter 0.6s ease-in-out;
    /* Smooth transition for the blur */
}

.flipped .front {
    filter: none;
    /* Remove blur when the card is flipped */
}



@media (max-width: 768px) {
    .container-resume {
        width: 90%;
    }
}

/* SMALL SCREEN --------------------------------------------------------------------------------- MOBILE */
@media screen and (min-width: 320px) {

    .header-resume {
        background-color: #1e293b;
        color: #fff;
        padding: 10px;
        line-height: 1.6;
    }

    .header-resume h1,
    .header-resume h2 {
        text-align: center;
        font-size: 19px;
    }

    .image-flipper {
        position: relative;
        width: 300px;
        /* Set the width of the image */
        height: 300px;
        /* Set the height of the image */
        transition: transform 0.6s ease-in-out;
        /* Smooth transition */
        transform-style: preserve-3d;
        /* Preserve the 3D effect */
    }

    .business-card {
        width: 300px;
        height: 170px;
        position: relative;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        cursor: pointer;
    }



    .contact-info {
        text-align: center;
        margin-top: 10px;
    }



    .myimg {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .myimg img {
        display: block;
        border: 5px solid #ffffff;
        /* Adjust color as needed */
        width: 90%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .myimg img:hover {
        transition: ease-in-out 0.5s;
        transform: scale(1.2);
        cursor: grab;
    }

    .myimg img:active {

        cursor: grabbing;
    }

    .men {
        padding: 5px 10px 5px 10px;
        font-size: 20px;
        text-align: center;
    }

    .menu {
        list-style-type: none;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        box-shadow: 0px -0.125rem 0.625rem rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    section {
        font-size: 12px;
    }

    .menu li {
        flex: 1;
        font-size: 12px;
    }

    .menu li a {

        width: 100%;
        font-size: 0.6rem;
        padding: 1.8rem 0;
        margin: 0;
        border-radius: 0.3rem;
        transition: background-color 0.3s ease, border-color 0.3s ease, backdrop-filter 0.3s ease;
        background: rgba(255, 255, 255, 0.501);
        color: #1c4777;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.0625rem solid #5c5c5c;
        border-bottom-left-radius: 0.1rem;
        border-bottom-right-radius: 0.1rem;
        backdrop-filter: blur(0.8rem);
        -webkit-backdrop-filter: blur(0.8rem);
    }

    .menu li a:hover {
        background: linear-gradient(to right, #598dc7, #7fb0e1);
        color: white;
        transform: scale(1.0);
    }
}

/* XL SCREEN ---------------------------------------------------------------------------------- LAPTOP */
@media screen and (min-width: 1200px) {

    .header-resume {
        background-color: #1e293b;
        color: #fff;
        padding: 10px;
        line-height: 1.6;
    }

    .header-resume h1,
    .header-resume h2 {
        text-align: center;
        font-size: 32px;
    }

    .image-flipper {
        position: relative;
        width: 350px;
        /* Set the width of the image */
        height: 350px;
        /* Set the height of the image */
        transition: transform 0.6s ease-in-out;
        /* Smooth transition */
        transform-style: preserve-3d;
        /* Preserve the 3D effect */
    }

    .business-card {
        width: 700px;
        height: 400px;
        position: relative;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        cursor: pointer;
    }

    .myimg {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .myimg img {
        display: block;
        border: 5px solid #ffffff;
        /* Adjust color as needed */
        margin: 0;
        padding: 0;
        width: 30%;
    }

    .myimg img:hover {
        transition: ease-in-out 0.5s;
        transform: scale(1.2);
        cursor: grab;
    }

    .myimg img:active {

        cursor: grabbing;
    }

    .men {
        padding: 5px 100px 5px 100px;
        font-size: 25px;
        text-align: center;
    }

    .menu {
        list-style-type: none;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    .menu li {
        margin: 0;
        font-weight: bold;
        flex-grow: 1;
    }

    .menu li a {
        text-decoration: none;
        font-size: 1rem;
        padding: 1.7rem 0;
        border-radius: 0.5rem;
        transition: background-color 0.3s ease, border-color 0.3s ease, backdrop-filter 0.3s ease;
        background: rgba(255, 255, 255, 0.575);
        color: #1c4777;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #5c5c5c;
        border-bottom-left-radius: 0.1rem;
        border-bottom-right-radius: 0.1rem;
        backdrop-filter: blur(0.8rem);
        -webkit-backdrop-filter: blur(0.8rem);
    }

    .menu li a:hover {
        background: linear-gradient(to right, #598dc7, #7fb0e1);
        color: white;
        transform: scale(1.0);
    }
}